# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool
coverage.out
coverage.html

# Build output
build/
systemlink-cli.zip

# Sub-repository
systemlink-OpenAPI-documents/
